name: merge approved pr

on:
  workflow_run:
    workflows: [PR Approval Dispatcher]
    types: 
      - completed

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Download artifact
      uses: actions/github-script@v6
      with:
        script: |
          let allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.payload.workflow_run.id,
          });
          let matchArtifact = allArtifacts.data.artifacts.filter((artifact) => {
            return artifact.name == "context"
          })[0];
          let download = await github.rest.actions.downloadArtifact({
              owner: context.repo.owner,
              repo: context.repo.repo,
              artifact_id: matchArtifact.id,
              archive_format: 'zip',
          });
          let fs = require('fs');
          fs.writeFileSync(`${process.env.GITHUB_WORKSPACE}/context.zip`, Buffer.from(download.data));

    - name: Unzip artifact
      run: unzip context.zip

    - name: Check file
      uses: actions/github-script@v6
      with:
        github-token: ${{ secrets.PAT_TOKEN }}
        script: |
          const fs = require('fs');
          const contextStr = fs.readFileSync('./context');
          const contextObject = JSON.parse(contextStr);
          const prContext = await github.request(contextObject.payload.pull_request.url);
          const prNumber = prContext.data.number;
          console.log(contextObject, prContext);
          const head = `copy-pr-${prNumber}`;
          await exec.exec(`git fetch -fu origin refs/pull/${prNumber}/head:${head}`);
          // set global env for rest steps
          process.env.HEAD = head;
    
    - uses: actions/checkout@v3
    
    - run: |
      git branch
      git push origin copy-pr-8
    
    - name: Merge
      uses: actions/github-script@v6
      with:
        github-token: ${{ secrets.PAT_TOKEN }}
        script: |
          const { HEAD } = process.env;
          console.log('+++', HEAD);
          github.rest.repos.merge({
            owner: context.repo.owner,
            repo: context.repo.repo,
            base: 'main',
            head: 'copy-pr-8'
          });
            